<p>Lots of people tell twitter that they're going on holiday, but not many people read travel advice before they go somewhere.</p>
<br />
<p>Check for mentions of people "going to [A COUNTRY]" on twitter and tweet back travel advice.</p>