<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>BeforeYouVisit</title>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>BeforeYourVisit</h1>
  <br />
  <%= yield %>
  <br />
  <hr />
  <h5>Made at <a href="http://rewiredstate.org/hacks/FCOhack2014">Rewired State's Foreign and Commonwealth Office hack</a> by <a href="http://issyl0.co.uk">Isabell Long</a>. Code on <a href="https://github.com/issyl0/beforeyourvisit">GitHub</a>.</h5>
</body>
</html>