<p>Not many people read travel advice before they go somewhere, right? Some use twitter though.</p>

<p>So, this checks twitter for people (currently only me) mentioning that they're "going to [COUNTRY]".</p>

<p>Currently only works with my twitter account because otherwise it would spam everyone.</p>

<br />

<h2>I hit the twitter API limit 10 minutes ago, so here are some screenshots.</h2>

<br />
<br />

<img src='/assets/images/issyl0_malta.png' />

<br />
<br />

<img src='/assets/images/byv_malta.png' />